// 覆盖表单、表单项
.el-form {
  .el-form-item {
    border-bottom: 1px solid #E6E6E6;
    &.is-error {
      border-bottom-color: $error;
    }
    input {
      border: none;
    }
    .el-form-item__error {
      padding-top: 6px;
      color: $error;
    }
    .el-form-item__small {
      .el-form-item__error {
        padding-top: 4px;
      }
    }
    .el-textarea .el-textarea__inner {
      border: 0;
      background-color: #FAFAFA;
    }
    .el-date-editor.el-input__inner {
      border: 0;
    }
  }
}

// 单选框
.el-radio {
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $theme;
    background: #fff;
    &::after {
      width: 6px;
      height: 6px;
      background-color: $theme;
    }
  }
}

.el-switch {
  .el-switch__core {
    height: 20px;
    border: none;
    &:after {
      top: 3px;
      left: 3px;
      height: 14px;
      width: 14px;
    }
  }
  // &.is-disabled .el-switch__core {
  //   background-color: rgba(188, 188, 188, .5);
  // }
  // &.is-checked.is-disabled .el-switch__core {
  //   background-color: colorness($theme, 0.5);
  // }
}