// 覆盖表单、表单项
.el-form {
  .el-form-item {
    border-bottom: 1px solid #E6E6E6;
    &.is-error {
      border-bottom-color: $error;
    }
    input {
      border: none;
    }
    .el-form-item__error {
      padding-top: 6px;
      color: $error;
    }
    .el-form-item__small {
      .el-form-item__error {
        padding-top: 4px;
      }
    }
  }
}

// 单选框
.el-radio {
  .el-radio__input.is-checked .el-radio__inner {
    border-color: $theme;
    background: #fff;
    &::after {
      width: 6px;
      height: 6px;
      background-color: $theme;
    }
  }
}
