@import './theme-variables.scss';


// navbar 菜单栏相关的变量

$navBg: #fff;
$nav-height: 64px;
$reverse: $titleColor;

$theme-mid: #7FDDB7; // 次一级的主题颜色
$theme-light: #E5F8F0; // 浅主题颜色
// sidebar
$menuText: #585963;
$menuActiveText: $theme;
$subMenuActiveText: $theme; //https://github.com/ElemeFE/element/issues/12951
$subMenuActiveBg: #ffffff;
$menuBg: #f2f2f2;
$menuHover: $theme-light;
$subMenuBg: $bgColor;
$subMenuHover: $theme-light;
$sideBarWidth: 200px;
$hideSideBarWidth: 60px;
$activeMenuBorderWidth: 6px;
// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
    baseTheme: $theme;
    menuText: $menuText;
    menuActiveText: $menuActiveText;
    subMenuActiveText: $subMenuActiveText;
    subMenuActiveBg: $subMenuActiveBg;
    menuBg: $menuBg;
    menuHover: $menuHover;
    subMenuBg: $subMenuBg;
    subMenuHover: $subMenuHover;
    sideBarWidth: $sideBarWidth;
    hideSideBarWidth: $hideSideBarWidth;
}

