// input


.el-input {
  .el-input__inner {
    // border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-width: 1px;
    border-radius: 0px;
    &:hover {
      border-color: $theme;
    }
  }
  input {
    background-color: #fff !important;
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
      box-shadow: 0 0 0px 1000px #fff inset !important;
      -webkit-text-fill-color: #fff !important;
    }
    &::placeholder {
      color: $placeholderColor;
    }
  }

  .el-input-group__append, .el-input-group__prepend {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    &:hover, &:focus {
     border-bottom-color: $theme;
    }
    .el-select {
      min-width: 70px;
    }
  }
}


// input-number
.el-input-number {
  .el-input-number__increase,
  .el-input-number__decrease {
    opacity: 0;
    background-color: transparent;
    border: none !important;
  }
  &:hover {
    .el-input__inner {
      border-color: $theme;
    }
    .el-input-number__increase,
    .el-input-number__decrease {
      opacity: 1;
    }
  }
}
