// alert、message

// message 消息 背景颜色重置
.el-message--info,
.el-message--success,
.el-message--warning,
.el-message--error {
    background-color: #fff;
    border-color: #fff;
    box-shadow:0px 2px 8px 0px rgba(0,0,0,0.1);
}

// notification 通知
.el-notification {
  padding: 16px 20px 16px 20px;
  .el-notification__group {
    margin-left: 0;
    &.is-with-icon {
      margin-left: 12px;
    }
  }
  .el-notification__icon {
    font-size: 16px;
    padding-top: 4px;
    width: 16px;
  }
}